
@{
    ViewData["Title"] = "Index";
}
@using EduProject.Areas.Admin.ViewModels.AdminCourseViewModels

@model IEnumerable<CourseViewModel>

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Courses</h4>

                    <div class="table-responsive">

                        <a class="btn btn-primary" asp-action="create">Create</a>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>IsDeleted</th>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (CourseViewModel course in Model)
                                {
                                    <tr>
                                        <td>@course.IsDeleted</td>

                                        <td><img src="~/assets/img/course//@course.Image" /></td>
                                        <td>@course.Name</td>
                                        <td>@course.Description</td>

                                        <td><a class="btn btn-primary" asp-action="Details" asp-route-id="@course.Id">Detail</a></td>
                                        <td><a class="btn btn-warning" asp-action="Update" asp-route-id="@course.Id">Update</a></td>

                                        <td><a class="btn btn-danger @(Model.Count() <= 3 || course.IsDeleted ? "disabled" : "")" asp-action="Delete" asp-route-id="@course.Id">Delete</a></td>



                                    </tr>
                                }


                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- content-wrapper ends -->
