
@{
    ViewData["Title"] = "Events";
}
@using EduProject.ViewModels.EventViewModels;
@model IEnumerable<EventViewModel>
<!-- Banner Area Start -->
@await Component.InvokeAsync("Banner");

<!-- Banner Area End -->
<!-- Event Start -->
<div class="event-area three text-center pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach(var Event in Model)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-event mb-60">
                        <div class="event-img">
                            <a asp-route-id="@Event.Id" asp-action="Details">
                                <img src="~/assets/img/event/@Event.Image" alt="event">
                                <div class="course-hover">
                                    <i class="fa fa-link"></i>
                                </div>
                            </a>
                            <div class="event-date">
                                <h3>@Event.Date</h3>
                            </div>
                        </div>
                        <div class="event-content text-left">
                            <h4><a asp-route-id="@Event.Id" asp-action="Details">@Event.Name</a></h4>
                            <ul>
                                <li><span>time:</span> @Event.Time</li>
                                <li><span>venue</span> @Event.Venue</li>
                            </ul>
                            <div class="event-content-right">
                                <a class="default-btn" asp-action="Details">join now</a>
                            </div>
                        </div>
                    </div>
                </div>

            }

           
        </div>
    </div>
</div>
<!-- Event End -->

